 {
    margin:0;
    padding:0;   
}

.process {
    width: 500px;
    height: 500px;
    background-color: #fafafa;
    animation: animaçao 5s infinite;
}

@keyframes animaçao {
    0% {background-color: #6F69AC;width: 150px;}
    25% {background-color: #95DAC1;width: 250px;}   
    50% {background-color: #FFEBA1;width: 350px;}
    100% {background-color: #FD6F96;width: 3500px;}
}